<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Card</title>
    <link rel="stylesheet" href="./File_CSS_chung.css">
    <link rel="stylesheet" href="./File_CSS_homepage.css">
</head>
<body>
    <!--Khung chứa thông tin hoạt động-->
    <div class="activity-info">
        <img src="Ảnh\HD_1.png" alt="Khu di tích lịch sử Củ Chi" class="activity-info-image">
        <div class="activity-info-content">
            <div class="activity-info-title">Khu di tích lịch sử Củ Chi</div>
            <div class="activity-info-date-button">
                <div class="activity-info-date">26/03/2024</div>
                <button class="activity-info-button">Chi tiết</button>
            </div>            
        </div>
    </div>
    <!--Khung chứa ảnh mẹ Việt Nam anh hùng-->
    <div class="image-container"><img src="Ảnh\HD_1.png" alt="Ảnh mẹ Việt Nam anh hùng" class=" image-container-image"></div>
    <!--Khung chứa ảnh mẹ Việt Nam anh hùng-->
    
</body>
</html>