/* Định nghĩa biến màu sắc trong biến cục bộ giao diện */
:root {
    /* Các biến cho giao diện chung */
    --web-khoa: #3628F4;               /* Màu chủ đạo cho web khoa */
    --web-khoa-1: #000000;            /* Màu thứ đạo 1 cho web khoa */
    --web-khoa-2: #ffff;             /* Màu thứ đạo 2 cho web khoa */
    --web-campaign-1: #C00016;        /*bộ màu cho web campaign */
    --web-campaign-2: #FFF6A1;     /*bộ màu cho web campaign */
    --web-campaign-3: #726767;    /*bộ màu cho web campaign */
    --mau-chu: #CC1A1A;                  /*bộ màu cho web campaign */
    --background-web-campaign: #FBF3B7; /*bộ màu cho web campaign */
  }
/* Thuộc tính nút bấm - Viết Bảo */
.btn {

}

/* Bảng thông tin về số liệu chương trình - Viết Bảo */
.program-info {

}

/* Thanh tìm kiếm - Viết Bảo */
.search-bar {

}

/* Khung chứa ảnh + thông tin no action trigger - Viết Bảo */
.image-info-no-action {

}

/* Ảnh avatar - Viết Bảo */
.avatar {

}

/* Khung chứa ảnh mẹ VNAH - Quang Đại */
.image-container{
  width: 320px;
  height: 368px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
}
.image-container-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Khung chứa thông tin hoạt động - Quang Đại */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.activity-info {
  width: 294px;
  height: 384px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.activity-info-image {
  width: 100%;
  height: 284px;
  object-fit: cover;
}

.activity-info-content {
  padding: 10px;
  height: 100px;
  display: flexbox;
  justify-content: left;
  align-items: center;
}

.activity-info-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.activity-info-date-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.activity-info-date {
  font-size: 16px;
  color: #555;
}

.activity-info-button {
  background-color: black;
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activity-info-button:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}
/* Hiệu ứng 3 thanh ngang - Quang Đại */
.hamburger-menu {

}

/* Bảng thông tin báo - Quang Đại */
.news-info {

}

/* Hiệu ứng scroll thấy trên trang Về chiến dịch - Quang Đại */
.campaign-scroll {

}

/* Bảng tin tức - Quân Hoàng */
.news-table {

}

/* Pagination Bar - Quân Hoàng */
.pagination-bar {

}

/* Bảng pop-up mẹ VNAH - Quân Hoàng */
.vnah-popup {

}

/* Bảng thanh dài chi tiết hoạt động - Quân Hoàng */
.activity-detail-bar {

}

/* Bảng title đề mục cách kiểu/ Bảng title vuông - Tâm Đan */
.section-title {

}

/* Thuộc tính preview ảnh trên các page chi tiết hoạt động - Tâm Đan */
.image-preview {

}

/* Bảng database (mục bảng + thông tin bảng) - Tâm Đan */
.database-table {

}

/* Hiệu ứng chọn option trên thông tin bảng trang Admin - Hoa Lê */
.admin-option-select {

}

/* Kiểu sub-title (gạch chữ ngạch) - Hoa Lê */
.subtitle {

}

/* Kiểu chữ title (cho homepage về nguồn) - Hoa Lê */
.homepage-title {

}

/* Thanh nhập trường dữ liệu - Vĩnh Kim */
.input-bar {

}

/* Bảng pop-up khi có lệnh - Vĩnh Kim */
.command-popup {

}

/* Pop-up trang Admin cho trường dữ liệu - Vĩnh Kim */
.admin-data-popup {

}