<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Card</title>
    <link rel="stylesheet" href="./Thong_tin_hoat_dong.css">
</head>
<body>
    <div class="card">
        <img src="Ảnh\HD_1.png" alt="Khu di tích lịch sử Củ Chi" class="card-image">
        <div class="card-content">
            <div class="card-title">Khu di tích lịch sử Củ Chi</div>
            <div class="card-date-button">
                <div class="card-date">26/03/2024</div>
                <button class="card-button">Chi tiết</button>
            </div>
            
        </div>
    </div>
</body>
</html>